In [1]:
import nsfg

In [2]:
!dir

 C 드라이브의 볼륨: System
 볼륨 일련 번호: AA58-5FDF

 C:\Users\User\WEEK3 디렉터리

2021-09-18  오후 12:29    <DIR>          .
2021-09-18  오후 12:29    <DIR>          ..
2021-09-18  오후 12:29    <DIR>          .ipynb_checkpoints
2021-09-15  오후 03:20         1,041,415 2002FemPreg.dat.gz
2021-09-15  오후 03:20            28,362 2002FemPreg.dct
2021-09-15  오후 03:20         7,581,918 2002FemPreg.tsv
2021-09-15  오후 03:20         3,364,975 2002FemResp.dat.gz
2021-09-15  오후 03:20           361,722 2002FemResp.dct
2021-09-15  오후 03:20        36,630,432 2002FemResp.tsv
2021-09-18  오후 12:28           143,565 3주차 2강 pandas.ipynb
2021-09-18  오후 12:28                72 Excercise.ipynb
2021-09-15  오후 03:20             4,556 nsfg.py
2021-09-15  오전 11:51               576 Online.ipynb
2021-09-15  오후 03:20            22,756 thinkplot.py
2021-09-15  오후 03:20            75,264 thinkstats2.py
2021-09-15  오후 03:23    <DIR>          __pycache__
              12개 파일          49,255,613 바이트
               4개 디렉터리  108,299,145,216 바이트 남음

In [3]:
import pandas as pd

In [4]:
preg = pd.read_csv("./2002FemPreg.tsv", sep = "\t")

In [5]:
preg

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13588,12571,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,6.1875
13589,12571,2,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,NaN
13590,12571,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,NaN
13591,12571,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,7.5000
13592,12571,5,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,7.5000

In [6]:
# Excercise 1 - preg DataFrame에서 birthord column을 고르고, value count를 프린트해보세요. 그리고 codebook의 결과와 비교해보세요

In [8]:
preg["birthord"].value_counts()

1.0     4413
2.0     2874
3.0     1234
4.0      421
5.0      126
6.0       50
7.0       20
8.0        7
9.0        2
10.0       1
Name: birthord, dtype: int64

In [11]:
# nan (not a number)를 카운트하기 위해서 isnull이라는 함수를 사용할 수 있습니다 We can also use isnull to count the number of nans.
print("sum: ", preg.birthord.isnull().sum())
preg["birthord"].isnull()

sum:  4445

0        False
1        False
2        False
3        False
4        False
         ...
13588    False
13589     True
13590     True
13591    False
13592    False
Name: birthord, Length: 13593, dtype: bool

In [12]:
# Excercise 2 - prglngth column을 고르고, 값을 세보세요. 그리고 이 값을 codebook과 비교해보세요

In [14]:
preg["prglngth"].value_counts().sort_index()

0       15
1        9
2       78
3      151
4      412
5      181
6      543
7      175
8      409
9      594
10     137
11     202
12     170
13     446
14      29
15      39
16      44
17     253
18      17
19      34
20      18
21      37
22     147
23      12
24      31
25      15
26     117
27       8
28      38
29      23
30     198
31      29
32     122
33      50
34      60
35     357
36     329
37     457
38     609
39    4744
40    1120
41     591
42     328
43     148
44      46
45      10
46       1
47       1
48       7
50       2
Name: prglngth, dtype: int64

In [16]:
# 평균 - mean 사용
preg.totalwgt_lb.mean() # 몸무게 평균

7.265628457623368

In [17]:
# Excercise 3 - totalwgt_kg column을 만들고, totalwgt_lb의 파운드로 되어있는 무게를 kg으로 변환해서 저장하세요.

In [18]:
def lb2kg(weightinlb):
    return weightinlb * 0.45329237
preg["totalwgt_kg"] = preg["totalwgt_lb"].apply(lb2kg)

In [19]:
preg["totalwgt_kg"]

0        3.994639
1        3.569677
2        4.136293
3        3.173047
4        2.804747
           ...
13588    2.804747
13589         NaN
13590         NaN
13591    3.399693
13592    3.399693
Name: totalwgt_kg, Length: 13593, dtype: float64

In [20]:
preg["totalwgt_lb"]

0        8.8125
1        7.8750
2        9.1250
3        7.0000
4        6.1875
          ...
13588    6.1875
13589       NaN
13590       NaN
13591    7.5000
13592    7.5000
Name: totalwgt_lb, Length: 13593, dtype: float64

In [23]:
# `nsfg.py` 에는 `ReadFemResp`라는 항목도 있습니다. 여성의 답변 파일을 읽어서 `DataFrame`을 리턴해주는 파일이죠
resp = pd.read_csv("./2002FemResp.tsv", sep = "\t")
resp

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7638,11018,1,5,2,5,3.0,34,34,811,34,...,0,3247.445399,3784.333145,6565.818007,2,76,1228,1216,15:57:38,82.907333
7639,6075,5,5,3,5,3.0,17,17,1014,17,...,0,2273.211779,2497.234491,4392.385746,2,76,1228,1216,18:23:53,54.044833
7640,5649,1,5,2,5,5.0,29,29,873,29,...,0,3247.445399,3569.313710,6003.228729,2,76,1228,1216,18:42:41,68.168000
7641,501,5,5,3,5,2.0,16,16,1034,16,...,0,5304.160818,5954.644352,10473.623950,2,76,1228,1216,16:02:45,32.717333
7642,10252,1,5,2,5,2.0,28,28,889,28,...,0,3247.445399,3476.637428,5847.356491,2,76,1230,1218,12:45:19,74.061500

In [24]:
# DataFrame 에는 head 을 통해 첫 5개 줄을 읽어오는 기능이 있습니다
resp.head()

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667

In [25]:
# resp.head() 와 동일
resp[:5]

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667

In [26]:
# tail도 있다
resp.tail()

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
7638,11018,1,5,2,5,3.0,34,34,811,34,...,0,3247.445399,3784.333145,6565.818007,2,76,1228,1216,15:57:38,82.907333
7639,6075,5,5,3,5,3.0,17,17,1014,17,...,0,2273.211779,2497.234491,4392.385746,2,76,1228,1216,18:23:53,54.044833
7640,5649,1,5,2,5,5.0,29,29,873,29,...,0,3247.445399,3569.313710,6003.228729,2,76,1228,1216,18:42:41,68.168000
7641,501,5,5,3,5,2.0,16,16,1034,16,...,0,5304.160818,5954.644352,10473.623950,2,76,1228,1216,16:02:45,32.717333
7642,10252,1,5,2,5,2.0,28,28,889,28,...,0,3247.445399,3476.637428,5847.356491,2,76,1230,1218,12:45:19,74.061500

In [27]:
# tail과 같다
resp[-5:]

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
7638,11018,1,5,2,5,3.0,34,34,811,34,...,0,3247.445399,3784.333145,6565.818007,2,76,1228,1216,15:57:38,82.907333
7639,6075,5,5,3,5,3.0,17,17,1014,17,...,0,2273.211779,2497.234491,4392.385746,2,76,1228,1216,18:23:53,54.044833
7640,5649,1,5,2,5,5.0,29,29,873,29,...,0,3247.445399,3569.313710,6003.228729,2,76,1228,1216,18:42:41,68.168000
7641,501,5,5,3,5,2.0,16,16,1034,16,...,0,5304.160818,5954.644352,10473.623950,2,76,1228,1216,16:02:45,32.717333
7642,10252,1,5,2,5,2.0,28,28,889,28,...,0,3247.445399,3476.637428,5847.356491,2,76,1230,1218,12:45:19,74.061500

In [28]:
# Excercise 4 - resp에서 age_r column 을 골라서 값을 프린트 해 보세요. 가장 나이가 많거나 어린 사람의 연령은 어떻게 되나요?

In [29]:
resp

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7638,11018,1,5,2,5,3.0,34,34,811,34,...,0,3247.445399,3784.333145,6565.818007,2,76,1228,1216,15:57:38,82.907333
7639,6075,5,5,3,5,3.0,17,17,1014,17,...,0,2273.211779,2497.234491,4392.385746,2,76,1228,1216,18:23:53,54.044833
7640,5649,1,5,2,5,5.0,29,29,873,29,...,0,3247.445399,3569.313710,6003.228729,2,76,1228,1216,18:42:41,68.168000
7641,501,5,5,3,5,2.0,16,16,1034,16,...,0,5304.160818,5954.644352,10473.623950,2,76,1228,1216,16:02:45,32.717333
7642,10252,1,5,2,5,2.0,28,28,889,28,...,0,3247.445399,3476.637428,5847.356491,2,76,1230,1218,12:45:19,74.061500

In [31]:
resp["age_r"].value_counts().sort_index() #응답자의 나이(index)로 정렬

15    217
16    223
17    234
18    235
19    241
20    258
21    267
22    287
23    282
24    269
25    267
26    260
27    255
28    252
29    262
30    292
31    278
32    273
33    257
34    255
35    262
36    266
37    271
38    256
39    215
40    256
41    250
42    215
43    253
44    235
Name: age_r, dtype: int64

In [110]:
max(resp["age_r"]) #나이 최댓값 찾기

44

In [111]:
# caseid를 사용해서 resp와 preg를 매칭할 수 있습니다. 예를 들어서 resp에서 2298번 답변자의 값을 조회하려면
resp[resp.caseid==2298]

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667

In [112]:
# preg 에서 해당 사람의 값을 출력하려면
preg[preg.caseid==2298]

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb,totalwgt_kg
2610,2298,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.116385
2611,2298,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,5.5000,2.493108
2612,2298,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,4.1875,1.898162
2613,2298,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.116385

In [113]:
# 1번 답변자의 나이는 몇살인가요?
resp[resp.caseid==1]["age_r"]

1069    44
Name: age_r, dtype: int64

In [123]:
# 2298번 답변자는 얼마나 오래 임신기간을 유지했나요?
preg[preg.caseid==2298]["prglngth"] #최대 40 weeks

2610    40
2611    36
2612    30
2613    40
Name: prglngth, dtype: int64

In [131]:
preg[preg.caseid==2298]["prglngth"].value_counts()

40    2
30    1
36    1
Name: prglngth, dtype: int64

In [144]:
# 5012번 환자의 첫 아이의 birthwgt 는 몇 파운드인가요?
preg[preg.caseid==5012]["birthwgt_lb"][:1] # 6.0 파운드

5515    6.0
Name: birthwgt_lb, dtype: float64

In [173]:
# 통상적으로 첫 째 아이가 더 늦게 태어난다는 속설이 있습니다.
# 이를 확인하기 위해서 prglngth으로 첫째 아이와 첫째가 아닌 아이에 대한 평균임신기간을 계산해보세요.
# birthord에 몇번째 아이인지 나와있습니다
firstordr_prglngthMean = preg[preg.birthord==1].prglngth.mean()
notFirstordr_prglngthMean = preg[preg.birthord > 1].prglngth.mean()
print("첫째 아이 평균 임신 기간: ", firstordr_prglngthMean, "\n첫째가 아닌 아이 평균 임신 기간: ", notFirstordr_prglngthMean)

첫째 아이 평균 임신 기간:  38.60095173351461
첫째가 아닌 아이 평균 임신 기간:  38.52291446673706

In [175]:
# 첫째 아이 평균 임신 기간
preg[preg.birthord==1].prglngth.sum() / len(preg[preg.birthord==1].prglngth)

38.60095173351461

In [174]:
# 첫째가 아닌 아이 평균 임신 기간
preg[preg.birthord > 1].prglngth.sum() / len(preg[preg.birthord > 1].prglngth)

38.52291446673706